$main-color: $pillyfish-purple;
$backdrop: $black;
$contrast: $white;

.container {
  padding: 0;
}

.container-fluid {
  background-color: $backdrop;
}

.create-med-btn {
  float: right;

  @media screen and (min-width: 0px) and (max-width: 767px) {
    display: none;
  }
}

.dropdown {
  background-color: $backdrop;
  font-size: 50px;
  height: 100px;
  padding-top: 22px;

  @media (max-width: 767px) {
    border-bottom: .5px solid $contrast;
    border-top: .5px solid $contrast;
  }
}

.dropdown-item {
  color: $white;
}

.dropdown-menu {
  background-color: $backdrop;
  border-bottom: .5px solid $contrast;
  border-left: .5px solid $contrast;
  display: none;
  opacity: 1;
  width: 394.7px;

  li a:hover {
    background-color: $main-color;
  }
}

#header {
  background-color: $black;
  color: $charcoal;
  font-size: 30px;
  height: 80px;
}

.logo {
  position: absolute;
}

.med-grid {
  margin: 0;
}

.navbar {
  @media (min-width: 768px) {
    border-bottom: .5px solid $contrast;
  }
}

.navbar-brand {
  font-size: 55px;
  padding-top: 38px;
  position: relative;
}

.new-med {
  font-size: 20px;
  text-align: right;
}

.row {
  background-color: $main-color;
  border-radius: 25px;
  font-size: 25px;
  height: 80px;
  margin-bottom: 4px;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background-color: $backdrop;
  }
}
