$main-color: $pillyfish-purple;
$font-color: $black;
$font-color2: $white;
// $quote-background-color: $light-gray;
// // $aquote-size: $quote-size;
// // $p-height: $line-height;
// // //

.container {
  padding: 0;
}

.med-grid {
  background-color: $main-color;
  height: 500px;
  margin: 0;
}

.nav-bar a {
  background-color: $font-color2;
  margin: 0;
  padding: 0;
}

.row {
  height: 80px;
}

// .a {
//   color: $font-color;
// }
//
// .navbar * {
//   background-color: $main-color;
//   border-color: $main-color;
// }
