$main-color: $pillyfish-purple;
$backdrop: $black;
$contrast: $white;

.auth-dropdown {
  background-color: $backdrop;
  font-size: 50px;
  height: 100px;
  padding-top: 22px;

  @media (max-width: 767px) {
    border-bottom: .5px solid $contrast;
    border-top: 1px solid $contrast;
  }
}

.container {
  padding: 0;
}

.container-fluid {
  background-color: $backdrop;
}

.dropdown-menu {
  background-color: $backdrop;
}

.med-grid {
  background-color: $main-color;
  border-radius: 50px;
  height: 500px;
  margin: 0;
}

.navbar {
  @media (min-width: 768px) {
    border-bottom: .5px solid $contrast;
  }
}

.navbar-brand {
  font-size: 55px;
  padding-top: 38px;
}

.row {
  height: 80px;
}

// .a {
//   color: $font-color;
// }
//
// .navbar * {
//   background-color: $main-color;
//   border-color: $main-color;
// }
