// $background-color: $paper-white;
// $font-color: $charcoal;
// $quote-background-color: $light-gray;
// $aquote-size: $quote-size;
// $p-height: $line-height;
//
// body {
//   background-color: $background-color;
//   color: $font-color;
//   font-size: 14pt;
//   line-height: $p-height;
//   .quote {
//     font-weight: bold;
//   }
// }
//
// .quote {
//   background-color: tint($quote-background-color, 20%);// gray
//   font-size: $aquote-size * 1.5;
// }
