$main-color: $pillyfish-purple;
$font-color: $black;
$font-color2: $white;
// $quote-background-color: $light-gray;
// // $aquote-size: $quote-size;
// // $p-height: $line-height;
// // //

.container {
  padding: 0;
}

.container-fluid {
  background-color: $black;
}

.med-grid {
  background-color: $main-color;
  border-radius: 50px;
  height: 500px;
  margin: 0;
}

.navbar-brand {
  font-size: 55px;
  padding-top: 38px;

}

.row {
  height: 80px;
}

// .a {
//   color: $font-color;
// }
//
// .navbar * {
//   background-color: $main-color;
//   border-color: $main-color;
// }
